<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.NiaraFoodJoint.niara">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Niara"
        android:usesCleartextTraffic="true">
        <activity android:name="com.NiaraFoodJoint.niara.ui.activities.customerFeedback2"></activity>
        <activity android:name="com.NiaraFoodJoint.niara.ui.activities.PrivacyPolicy" />
        <activity android:name="com.NiaraFoodJoint.niara.ui.activities.TermsAndConditions" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.PaymentSuccessfulActivity"
            android:noHistory="true" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.PaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.CreateCusstomerInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.CustomerFeedback"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.ProductDesc"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.NiaraFoodJoint.niara.ui.activities.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <permission
        android:name="my_custom_permission_name"
        android:protectionLevel="signature" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>